/* Header and Navbar Styles */
.header {
    background-color: #002b5c; /* Dark blue color */
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.banner {
    background-color: #004080;
    color: #ffffff;
    padding: 5px 0;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    border-bottom: 2px solid #ffcc00;
}

.banner a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.banner a:hover {
    color: #ffcc00;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 70px; /* Made the logo slightly larger */
}

.nav-search {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
    font-size: 16px;
    position: relative;
}

.pipe {
    color: #ff0000;
    margin: 0 5px;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Added transition for hover effect */
}

.nav-item a:hover {
    background-color: #0073e6;
    color: #ffcc00; /* Added hover effect for links */
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #002b5c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #0073e6;
    color: #ffcc00; /* Added hover effect for dropdown links */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn::after {
    content: '\25BC';
    color: #ffffff;
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: #ffffff;
    margin-left: 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #0073e6;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 1.5em;
    color: white;
}
